<form>  
    <input type="radio" id="contactChoice1"
     name="contact" value="email" >
    <label for="contactChoice1">Email</label> <br>

    <input type="radio" id="contactChoice2"
     name="contact" value="phone">
    <label for="contactChoice2">Phone</label> <br>

    <input type="radio" id="contactChoice3"
     name="contact" value="mail">
    <label for="contactChoice3">Mail</label> <br> 

	<input type="radio" id="contactChoice4"
     name="contact" value="no" checked>
    <label for="contactChoice4">No</label> <br> 
</form>